<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="gr.anomologita.anomologita"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <permission
        android:name="gr.anomologita.anomologita.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="gr.anomologita.anomologita.permission.C2D_MESSAGE"/>


    <application
        android:name=".Anomologita"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".activities.Splash"
            android:label="Ανομολόγητα"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activities.CreatePostActivity"
            android:label="Ανομολόγητο"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".activities.EditPostActivity"
            android:label="Διαμόρφωση"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".activities.CreateGroupActivity"
            android:label="Δημιουργία Γκρουπ"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".activities.MessageActivity"
            android:label="Προσωπικό Μήνυμα"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".activities.CommentActivity"
            android:label="Σχολίασε"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".activities.MeActivity"
            android:label="Εγώ"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".activities.NotificationActivity"
            android:label="Ενημερώσεις"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".activities.ChatActivity"
            android:label="Chat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".activities.ConversationsActivity"
            android:label="Συνομιλίες"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".activities.EditGroupActivity"
            android:label="Διαμόρφωση"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <activity android:name=".network.GCMRegister"/>

        <service android:name=".extras.NotifyService"/>

        <activity
            android:name=".activities.SearchActivity"
            android:label="Αναζήτηση"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent"/>

        <receiver
            android:name="gr.anomologita.anomologita.network.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="com.anomologita.m2.anomologita2"/>
            </intent-filter>
        </receiver>
        <service android:name="gr.anomologita.anomologita.network.GcmIntentService"/>
    </application>

</manifest>
